cve_checker.yaml
id: cve_checker
namespace: company.team
description: A workflow to check for new CVEs daily by comparing with previously known CVEs.

triggers:
  - id: daily_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 0 * * *" # Runs daily at midnight UTC

tasks:
  - id: zero_new_cve_count
    type: io.kestra.plugin.core.kv.Set
    key: "new-CVEs"
    value: "0"
    kvType: NUMBER

  - id: http_download_cves
    type: io.kestra.plugin.core.http.Request
    uri: https://www.cisa.gov/sites/default/files/feeds/known_exploited_vulnerabilities.json

  - id: log_cve_count
    type: io.kestra.plugin.core.log.Log
    message: "CVE count: {{ json(outputs.http_download_cves.body).count }}"

  - id: for_each_cve
    type: io.kestra.plugin.core.flow.ForEach
    concurrencyLimit: 5
    values: "{{ json(outputs.http_download_cves.body).vulnerabilities }}"
    tasks:
      - id: check_if_stored
        type: io.kestra.plugin.core.flow.If
        condition: "{{ kv( json(taskrun.value).cveID, errorOnMissing=false ) is not null }}"
        then: 
          - id: cve_known
            type: io.kestra.plugin.core.log.Log
            message: "Known CVE: {{ json(parent.taskrun.value).cveID }}"
        else:
          - id: store_unknown_cve_ids
            type: io.kestra.plugin.core.kv.Set
            key: "{{ json(parent.taskrun.value).cveID }}"
            value: "{{ json(parent.taskrun.value).vulnerabilityName }}"
            kvType: STRING
          - id: new_cve_count
            type: io.kestra.plugin.core.kv.Set
            key: "new-CVEs"
            value: "{{ kv( 'new-CVEs' ) + 1 }}"
          - id: new_cve_count_log
            type: io.kestra.plugin.core.log.Log
            message: "CVE count: {{ kv( 'new-CVEs' ) }}"
          - id: ask_ai
            type: io.kestra.plugin.gemini.StructuredOutputCompletion
            apiKey: "{{ secret('GEMINI_API_KEY') }}"
            model: gemini-2.5-flash
            prompt: "You are a security officer reviewing CVEs and just discovered this new CVE - {{ json(parent.taskrun.value) }}. Priority for CVEs can be high, medium, or low. I need you to determine the priority and if we should mitigate this CVE now or if we can wait. I also need you to specify the actions needed to mitigate the CVE."
            jsonResponseSchema: |
              {
                "type": "object",
                  "properties": {
                    "priority": {
                      "type": "string"
                    },
                    "mitigate_now": {
                      "type": "boolean"
                    },
                    "action_plan": {
                      "type": "string"
                    }
                  }
              }
              
          - id: return_mitigation
            type: io.kestra.plugin.core.debug.Return
            format: "{{ outputs.ask_ai[parent.taskrun.value].predictions | first | jq('.mitigate_now') | first }}"

          - id: send_to_notion
            type: io.kestra.plugin.notion.database.CreateItem
            apiToken: "{{ secret('NOTION_SECRET') }}"
            databaseId: "{{ secret('NOTION_CVE_DB') }}"
            title: "{{ json(parent.taskrun.value).vulnerabilityName }}"
            properties:
              ID:
                rich_text: [
                  {
                    text: 
                      {
                        content: "{{ json(parent.taskrun.value).cveID }}"
                      }
                  }
                ]
              Priority:
                select: 
                  name: "{{ outputs.ask_ai[parent.taskrun.value].predictions | first | jq('.priority') | first }}"
              # "Mitigate now?":
              #   checkbox: "{{ outputs.ask_ai[parent.taskrun.value].predictions | first | jq('.mitigate_now') | first }}"
              "Action plan":
                rich_text: [
                  {
                    text: 
                      {
                        content: "{{ outputs.ask_ai[parent.taskrun.value].predictions | first | jq('.action_plan') | first }}"
                      }
                  }
                ]

  
      

  
