redis_plugin_flow.yaml
id: redis_plugin_flow
namespace: company.team

tasks:

  - id: datagen
    type: io.kestra.plugin.datagen.core.Generate
    generator:
      type: io.kestra.plugin.datagen.generators.JsonObjectGenerator
      locale: ["en", "US"]
      value:
        name: "#{name.fullName}"
        email: "#{internet.emailAddress}"
        skills: "#{job.keySkills}"

  - id: set_redis
    type: io.kestra.plugin.redis.json.Set
    url: "{{ secret('REDIS_CLOUD') }}"
    key: "{{ outputs.datagen.value['name'] }}"
    value: |
      {
        "{{ outputs.datagen.value["email"] }}": "{{ outputs.datagen.value["skills"] }}"
      }
