service_now_flow.yaml
id: service_now_flow
namespace: company.team

tasks:
  - id: fetch_products
    type: io.kestra.plugin.core.http.Request
    uri: https://dummyjson.com/products
    method: GET
  - id: iterate_products
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.fetch_products.body.products }}"
    tasks:
      - id: check_existing_product
        type: io.kestra.plugin.servicenow.Get
        domain: "{{ secret('SN_DOMAIN') }}"
        username: "{{ secret('SN_USERNAME') }}"
        password: "{{ secret('SN_PASSWORD') }}"
        table: product_data
        fields:
          - title
          - description
          - price
          - category
      - id: if_product_exists
        type: io.kestra.plugin.core.flow.If
        condition: "{{ outputs.check_existing_product.size > 0 }}"
        then:
          - id: update_product_in_servicenow
            type: io.kestra.plugin.servicenow.Update
            domain: "{{ secret('SN_DOMAIN') }}"
            username: "{{ secret('SN_USERNAME') }}"
            password: "{{ secret('SN_PASSWORD') }}"
            table: product_data
            sysId: "{{ outputs.check_existing_product.results[0].sys_id }}"
            data:
              title: "{{ taskrun.value.title }}"
              description: "{{ taskrun.value.description }}"
              price: "{{ taskrun.value.price }}"
              category: "{{ taskrun.value.category }}"
        else:
          - id: post_product_to_servicenow
            type: io.kestra.plugin.servicenow.Post
            domain: "{{ secret('SN_DOMAIN') }}"
            username: "{{ secret('SN_USERNAME') }}"
            password: "{{ secret('SN_PASSWORD') }}"
            table: product_data
            data:
              title: "{{ taskrun.value.title }}"
              description: "{{ taskrun.value.description }}"
              price: "{{ taskrun.value.price }}"
              category: "{{ taskrun.value.category }}"

triggers:
  - id: daily_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 6 * * *"
