blueprints/log_off_flow_blueprint.yaml
id: log_off_flow_blueprint
namespace: company.team

triggers:
  - id: weekly_wrapup
    type: io.kestra.plugin.core.trigger.Schedule
    # Austin @ 4pm Fridays
    cron: 0 16 * * 5
    conditions: 
      - type: io.kestra.plugin.core.condition.Not
        conditions:
          - type: io.kestra.plugin.core.condition.PublicHoliday
            country: US

tasks:
  - id: send_to_confluence
    type: io.kestra.plugin.confluence.pages.Update
    apiToken: "{{ secret('CONFLUENCE') }}"
    serverUrl: "{{ secret('CONFLUENCE_SERVER_URL') }}"
    username: "{{ secret('EMAIL') }}"
    pageId: "{{ secret('PAGE_ID') }}"
    status: current
    title: Weekly Recaps
    markdown: |
      # Append test
      Hi from Flow code.
      Did this delete anything? How does it look?

    versionInfo:
      number: "{{ kv('version_number')}}"
      message: Weekly recap (add date?)

  - id: increment_version_number
    type: io.kestra.plugin.core.kv.Set
    key: version_number
    value: "{{ kv('version_number') + 1 }}"
    kvType: NUMBER

  - id: get_issues
    type: io.kestra.plugin.core.http.Request
    uri:  "https://api.github.com/orgs/kestra-io/issues?filter=assigned&state=closed&since=2026-01-07T08:00:00.000-06:00"
    method: GET
    headers:
      Authorization: "Bearer {{ secret('CLASSIC_GITHUB') }}"
      Accept: application/vnd.github+json
      X-GitHub-Api-Version: 2022-11-28

  - id: for_each_issue
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.get_issues.body }}"
    tasks: 
      - id: get_individual_issues
        type: io.kestra.plugin.core.debug.Return
        format: "{{ json(taskrun.value).url }} "
      - id: set_issues
        type: io.kestra.plugin.core.kv.Set
        key: issues_today
        value: "{{ taskrun.iteration + 1}}"
        kvType: NUMBER
        ttl: PT5M

  - id: get_calendar_events
    type: io.kestra.plugin.googleworkspace.calendar.ListEvents
    serviceAccount: "{{ secret('NEW_SA_GCAL') }}"
    calendarId: "{{ secret('CALENDARID') }}"
    #7AM US Central
    timeMin: "{{ now() | date(\"yyyy-MM-dd'T'07:00:00-06:00\") }}"
    #5PM US Central
    timeMax: "{{ now() | date(\"yyyy-MM-dd'T'17:00:00-06:00\") }}"

  - id: for_each
    type: io.kestra.plugin.core.flow.ForEach
    values: "{{ outputs.get_calendar_events['metadataList'] }}"
    tasks: 
      - id: get_individual_event
        type: io.kestra.plugin.core.debug.Return
        format: "{{ json(taskrun.value).htmlLink }}"
      - id: set_meetings
        type: io.kestra.plugin.core.kv.Set
        key: meetings_today
        value: "{{ taskrun.iteration + 1 }}"
        kvType: NUMBER
        ttl: PT5M

  - id: check_for_events
    type: io.kestra.plugin.core.flow.If
    condition: "{{ kv('meetings_today') != 0 }}"
    then:
    - id: send_meetings_to_slack
      type: io.kestra.plugin.slack.SlackIncomingWebhook
      url: "{{ secret('SLACK_WEBHOOK') }}"
      messageText: "You went to {{ kv('meetings_today') }} meetings and closed {{ kv('issues_today') }} PR(s) or issue(s)!"
    else:
    - id: send_no_meetings_to_slack
      type: io.kestra.plugin.slack.SlackIncomingWebhook
      url: "{{ secret('SLACK_WEBHOOK') }}"
      messageText: "No meetings or GitHub activity this week."


extend:
  title: Friday log off recap
  description: |
    Send a Slack message with the number of Google Calendar meetings and closed issues or PRs on GitHub that week and log it to Confluence as a weekly recap.

    Prerequisites:
      - Secrets:
        - TODO
    Quick start:
      1. Set secrets
      2. Upload flow
      3. (Optional) Enable schedule and run
    Expected outputs:
      - Slack message
      - Updated Confluence page
  tags:
    - Getting Started # Check Blueprints page or other Blueprints for all possible tags
  ee: false
  demo: true
  meta_description: Send a weekly recap from GitHub and Google Calendar to Confluence and Slack.
